{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "include": ["es6.map"],
        "exclude": ["transform-regenerator", "es6.set"]
      }
    ],
    "@babel/preset-react"
  ]
}
